* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
}

.scores-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.title {
  margin-right: 30px;
}

.scores-container {
  border: #000 3px solid;
  width: 100%;
}

.recent-scores {
  width: 40%;
}

.add-scores {
  width: 40%;
}

.score-row {
  display: flex;
  align-items: center;
  padding: 10px;
}

.name {
  margin-right: 10px;
}

.add-title {
  padding: 15px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form * {
  margin-bottom: 20px;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #ddd;
}
